@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --radius: var(--radius);
}

:root {
  --background: #0f0f0f;
  --foreground: #ffffff;
  --card: #0f0f0f;
  --card-foreground: #ffffff;
  --popover: #0f0f0f;
  --popover-foreground: #ffffff;
  --primary: #7c3aed;
  --primary-foreground: #ffffff;
  --secondary: #0f0f0f;
  --secondary-foreground: #ffffff;
  --muted: #333333;
  --muted-foreground: #ffffff;
  --accent: #7c3aed;
  --accent-foreground: #ffffff;
  --destructive: #d4183d;
  --destructive-foreground: #fff;
  --border: #333333;
  --input: #0f0f0f;
  --ring: #FF6D1F;
  
  --radius: 0.5rem;
}

@layer base {
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    border-color: var(--border, currentColor); 
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
